<div class="user-profile" *ngIf="userProfile; else loading">
  <div class="profile-container">
    <div class="profile-sidebar">
      <div class="profile-image">
        <ng-template #defaultIcon>
          <mat-icon>account_circle</mat-icon>
        </ng-template>

        <button class="edit-button">
          <mat-icon>edit</mat-icon>
        </button>
      </div>

      <div class="profile-text">
        <h1 class="display-name">{{ userProfile.firstName }} {{ userProfile.lastName }}</h1>
        <div *ngIf="!isEditing">
          <p class="infos"><strong>Email:</strong> {{ userProfile.email }}</p>
          <p class="infos"><strong>Password:</strong> **************** </p>
        </div>
        <form *ngIf="isEditing" [formGroup]="profileForm" (ngSubmit)="submitForm()">
          <label>Email:</label>
          <input type="email" formControlName="email" class="input-field"/>

          <label>Password:</label>
          <input type="password" formControlName="password" class="input-field"/>

          <button type="submit" class="save-button" [disabled]="profileForm.invalid">Save</button>
        </form>
      </div>
      <button class="edit-profile" (click)="toggleEdit()">
        <mat-icon>{{ isEditing ? 'close' : 'edit' }}</mat-icon>
      </button>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Loading user profile...</p>
</ng-template>

<p *ngIf="errorMessage">{{ errorMessage }}</p>