html,body { height: 100%;background: linear-gradient(to top, rgb(218, 218, 218), rgb(33, 33, 33));}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


  .mat-mdc-snack-bar-container.snack-error{
    --mdc-snackbar-container-color:red;
    --mdc-snack-bar-button-color:#fff;
    --mdc-snackbar-supporting-text-color:#fff;
  }

  .mat-mdc-snack-bar-container.snack-success{
    --mdc-snackbar-container-color:green;
    --mdc-snack-bar-button-color:#fff;
    --mdc-snackbar-supporting-text-color:#fff;
  }

  :root {
    --green: #1DB954;
    --black: #121212;
    --white: #FFFFFF;
    --dark-gray: #3f3f3f;
  }