html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #121212; }


  .mat-mdc-snack-bar-container.snack-error{
    --mdc-snackbar-container-color:red;
    --mdc-snack-bar-button-color:#fff;
    --mdc-snackbar-supporting-text-color:#fff;
  }

  .mat-mdc-snack-bar-container.snack-success{
    --mdc-snackbar-container-color:green;
    --mdc-snack-bar-button-color:#fff;
    --mdc-snackbar-supporting-text-color:#fff;
  }

  :root {
    --green: #1DB954;
    --black: #121212;
    --white: #FFFFFF;
    --dark-gray: #282828;
  }