$white: #fff;

.news-container {
  margin: 0 auto;
  width: 90%;
  padding: 10px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.news-heading {
  font-size: 2rem;
  font-weight: bold;
  color: $white;
  text-align: start;
  margin-bottom: 20px;
}

.carousel {
  overflow: hidden;
}

::ng-deep .slick-list {
  overflow: hidden;
  height: auto !important;
}

::ng-deep .slick-slide {
  display: inline-block;
  float: none;
  width: 100%;
}

.carousel-btn {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  background-color: #acaaaa73;
  border: none;
  cursor: pointer;
  z-index: 1;
  font-size: 2rem;
  color: $white;
}

.carousel-btn.prev {
  right:30px;
}

.carousel-btn.next {
  right: 0px;
}

.chevron {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.chevron.left::before {
  content: '\2039';
}

.chevron.right::before {
  content: '\203A';
}
