<div class="news-container">
  <h2 class="news-heading">Latest News</h2>
  <button class="carousel-btn prev" (click)="prev()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <ngx-slick-carousel #slickModal class="carousel" [config]="slideConfig">
    <div *ngFor="let newsItem of news" ngxSlickItem (click)="goToDetails(newsItem)">
      <app-coin-news [news]="newsItem"></app-coin-news>
    </div>
  </ngx-slick-carousel>
  <button class="carousel-btn next" (click)="next()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
