<div class="login-container">
    <img src="https://static.coingecko.com/s/coingecko-logo-8903d34ce19ca4be1c81f0db30e924154750d208683fad7ae6f2ce06c76d0a56.png" alt="Coin Logo" class="coin-image" />
    <form class="login-form">
      <input type="email" placeholder="Email" class="input-field" />
      <input type="password" placeholder="Password" class="input-field" />
      <a href="#" class="forgot-password">Forgot password?</a>
      <div class="button-container">
        <button class="btn">Connexion</button>
        <button class="btn">Register</button>
      </div>
    </form>
</div>