<nav class="coinHawk-navbar">
    <div class="navbar-left">
      <a href="#" class="logo">
        <img src="https://static.coingecko.com/s/coingecko-logo-8903d34ce19ca4be1c81f0db30e924154750d208683fad7ae6f2ce06c76d0a56.png" alt="Coin Logo"/>
      </a>
      <button class="nav-button home" (click)="navigateToHome()">
        <mat-icon>home</mat-icon>
      </button>
      <div class="search-container">
        <div class="search-bar">
          <input type="text" placeholder="Search" [(ngModel)]="searchQuery" (input)="onSearchInput()">
        </div>
      </div>
    </div>
    <div class="navbar-right">
      <button class="nav-button premium">Discover Premium</button>
      <button class="nav-button install">
        <mat-icon>get_app</mat-icon> Install App
      </button>
      <button class="nav-button profile" (click)="navigateToProfile()">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button class="nav-button logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>    
  </nav>