<nav class="coinHawk-navbar">
  <div class="navbar-left">
    <a href="#" class="logo">
      <img src="https://static.coingecko.com/s/coingecko-logo-8903d34ce19ca4be1c81f0db30e924154750d208683fad7ae6f2ce06c76d0a56.png" alt="Coin Logo"/>
    </a>
    <button class="nav-button home" (click)="navigateToHome()">
      <mat-icon class="icon">home</mat-icon>
    </button>
    <div class="search-container">
      <div class="search-bar">
        <input type="text" placeholder="Search" [(ngModel)]="searchQuery" (input)="onSearchInput()">
      </div>
      <div *ngIf="searchResults && searchResults.length > 0" class="search-results">
        <ul>
          <li *ngFor="let coin of searchResults" class="search-result">
            <span class="coin-info">{{ coin.name }} ({{ coin.symbol }})</span>
            <div class="follow-container">
              <button class="follow-button" (click)="toggleFollowForm(coin, $event)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navbar-right">
    <button class="nav-button premium">Discover Premium</button>
    <button class="nav-button profile" (click)="navigateToProfile()">
      <mat-icon class="icon">account_circle</mat-icon>
    </button>
    <button class="nav-button logout" (click)="logout()">
      <mat-icon class="icon">logout</mat-icon>
    </button>
  </div>
  <div *ngIf="activeFollowCoin && followFormPosition" class="follow-form-overlay" [ngStyle]="{'top.px': followFormPosition.top, 'left.px': followFormPosition.left, 'margin-right.px': 8}">
    <form (ngSubmit)="submitFollow()">
      <input type="number" placeholder="Target Price" [(ngModel)]="followTargetPrices[activeFollowCoin.id]" name="targetPrice{{activeFollowCoin.id}}" required>
      <button type="submit">Submit</button>
    </form>
  </div>
</nav>
