<div class="coins-container"
     infiniteScroll
     [infiniteScrollDistance]="scrollDistance"
     [infiniteScrollUpDistance]="scrollUpDistance"
     (scrolled)="loadMore()">

  <div class="Title">
    <h2>Followed Coins</h2>
  </div>

  <div *ngIf="!isLoading && coinsData.length === 0" class="text-gray-400 text-center mt-6">
    No followed coins.
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6 mt-6">
    <app-coin 
      *ngFor="let coin of coinsData" 
      [coin]="coin"
      (unfollow)="unfollowCoin(coin)">
    </app-coin>
  </div>

  <div *ngIf="isLoadingNewData" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6 mt-6">
    <div class="loading-card" *ngFor="let _ of [1, 2, 3, 4]">
      <div class="loading-image"></div>
      <div class="loading-text"></div>
      <div class="loading-text"></div>
    </div>
  </div>

</div>
