@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css';

$user-green: #1db954;
$dark-gray: #121212;
$modal-bg: rgba(0, 0, 0, 0.7);

.coins-container {
  box-sizing: border-box;
  min-height: 100vh;
  background: $dark-gray;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 40px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  width: 100%;
  justify-content: center;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.text-center {
  text-align: center;
  color: #bbb;
  font-size: 1.2rem;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: $modal-bg;
  backdrop-filter: blur(5px);
  z-index: 10;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $dark-gray;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 5px rgba(165, 164, 164, 0);
  z-index: 11;
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: white;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  background: #222;
  color: white;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.save-btn, .cancel-btn {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
}

.save-btn {
  background: $user-green;
  color: white;
}

.cancel-btn {
  background: transparent;
  color: white;
}

.save-btn:hover, .cancel-btn:hover {
  background-color: #bab9b932;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}

.loading-card {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  opacity: 0.6;
  animation: pulse 1.5s infinite ease-in-out;
}

.loading-image {
  background-color: #444;
  height: 120px;
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
}

.loading-text {
  background-color: #444;
  height: 14px;
  margin-top: 10px;
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
}

.loading-text:first-child {
  width: 80%;
}

.loading-text:last-child {
  width: 60%;
}
