@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css';

$user-green: #1db954;
$dark-gray: #121212;

.coins-container {
  box-sizing: border-box;
  height: auto;
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 40px;
}

.Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  letter-spacing: 1px;
  max-width: 1200px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  width: 100%;
  justify-content: center;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}

.loading-card {
  background-color:transparent;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  opacity: 0.6;
  animation: pulse 1.5s infinite ease-in-out;
}

.loading-image {
  background-color: #444;
  height: 120px;
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
}

.loading-text {
  background-color: #444;
  height: 14px;
  margin-top: 10px;
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
}

.loading-text:first-child {
  width: 80%;
}

.loading-text:last-child {
  width: 60%;
}
